.md-form .prefix.active {
  color: #6610f2 !important;
}

.md-form.md-outline :focus:not([read-only]) + label {
  color: #6610f2 !important;
}

.md-form.md-outline :focus:not([readonly]) {
  border-color: #6610f2 !important;
  box-shadow: inset 0 0 0 1px #6610f2 !important;
}
