.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}

.container {
  width: 100%;
  padding: 0 140px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
